@media (max-width: 1060px) {

    .body {
        gap: 10px;
    }
    .logo {
        max-width: 140px;
    }

    .personagens {
        width: 350px;
        margin: 0 auto;
        margin-top: 90px;
    }

    .selecao-de-personagens {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        margin-top: -20px;
        align-items: center;
    }

    .descricao-personagem {
        font-size: 16px;
        width: 350px;
    }
    .personagem-selecionado img {
        max-width: 350px;
        max-height: 350px;
        margin-top: 270px;
    }

    .titulo {
        font-size: 15px;
        margin-top: 32px;
    }

    .lista-de-personagens {
        gap: 9px;
    }

    .lista-de-personagens img {
        max-width: 80px;
    }
}

@media (max-height:795px) {
    .body {
        gap: 0px;
    }
    .logo {
        max-width: 400px;
    }

    .personagens {
        width: 350px;
     
    }

    .selecao-de-personagens {
        margin-top: -170px;
        align-items: center;
    }

    .descricao-personagem {
        font-size: 14px;
        width: 350px;
    }
    .personagem-selecionado img {
        max-width: 350px;
        max-height: 350px;
    }

    .titulo {
        font-size: 15px;
        margin-top: 32px;
    }

    .lista-de-personagens {
        gap: 9px;
    }

    .lista-de-personagens img {
        max-width: 80px;
    }
}